.post {
  padding: 50px 75px;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &__img {
    margin-bottom: 35px;
  }

  &__title {
    margin-bottom: 18px;
    font-size: 36px;
  }

  .article__info {
    margin-bottom: 48px;
    font-size: 14px;
  }
}

.read-more-section {
  h3 {
    margin-bottom: 24px;
  }
}