form {

  input,
  textarea,
  select {
    width: 100%;
    padding: 7px;
    border: 1px solid $darkGray;
    font-size: 16px;
    line-height: 1.3em;
    font-family: 'Inter', 'Trebuchet MS', sans-serif;
    color: $darkerBlue;
    background-color: $lightGray;
    transition: border-color 0.2s ease;

    &:focus-visible {
      outline: none;
      border-color: $darkBlue;
    }
  }

  input {
    &.heading {
      font-size: 20px;
    }
  }

  textarea {
    height: 100px;
    resize: none;
  }

  * {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .button {
    font-size: 16px;
    border-color: $darkGray;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 576px;

  label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 8px;
  }

  input,
  select {
    margin-bottom: 24px;
  }

  h3 {
    margin-bottom: 24px;
    align-self: center;
  }

  .button {
    align-self: center;
  }

  &:has(.new-post-form) {
    max-width: none;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
}

.new-post-section {
  .form {
    max-width: 1200px;
  }

  textarea {
    height: 300px;
    resize: vertical;
  }
}