.pannel-section {
  h3 {
    margin-bottom: 36px;
  }

  .post {
    max-width: 1200px;
  }
}

.pannel {
  &__buttons {
    display: flex;

    &__item {
      width: 50%;
      border: solid $darkBlue;
      font-size: 18px;

      &:nth-child(odd) {
        border-width: 1px 0 0 1px;
      }

      &:nth-child(even) {
        border-width: 1px 1px 0 0;
      }

      &_inactive {
        border: solid 1px;
        background-color: $gray;
        transition: background-color 0.3s ease;

        &:nth-child(odd),
        &:nth-child(even) {
          border-width: 1px;
        }

        &:hover,
        &:focus {
          background-color: $lightGray;
        }
      }
    }

    a {
      display: flex;
      color: inherit;
      text-decoration: none;
    }

    span {
      display: inline-block;
      padding: 10px;
    }
  }

  &__infotable {
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: solid 1px transparent;
      padding: 10px;

      >* {
        margin-bottom: 15px;
      }

      a {
        color: $darkerBlue;
        text-align: center;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover,
        &:focus {
          color: $hoverBlue;
        }
      }

      &:nth-child(even) {
        background-color: $gray;
      }

      &:hover,
      &:focus {
        border-color: $hoverBlue;
      }
    }

    &_users {
      span {
        display: inline-block;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        &:last-of-type {
          justify-content: flex-end;
          align-items: flex-end;
        }
      }

      select {
        margin: 0 0 15px 0;
        width: 100%;
        height: 42px;
      }

      .button {
        width: 100%;
        padding: 10px 25px;
      }
    }
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0;

    .button {
      padding: 5px 0;
    }
  }
}